.sidebar {
  flex: 4;
  height: calc(100vh - 50px);
  background-color: #F4ACB7;
  position: sticky;
  opacity: 0.8;
  top: 50px;
  max-width: 300px;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: #ffe5d9;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #ebd3c7;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}
