.songsList {
  flex: 4;
  background-color: #FFE5D9 ;
  opacity: 0.8;
}

.songsListsongs {
  display: flex;
  align-items: center;
}

.songsListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.songsListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #F4ACB7;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.songsListDelete{
    color: #9D8189;
    cursor: pointer;
}